.DS_Store
.Rhistory
.lock-wscript
.ruby-*
bin/bisecting_kmeans*
bin/redsvd
bin/td_matrix*
bin/td_old*
Gemfile.lock
lsa_cluster_tmp.*
lsa_output
old
output
scripts/preprint_r_scripts/hshs.r
src/*old*
test_files/9genomes
test_files/*seanie*
test_files/.Rhistory
vendor/*.o
vendor/redsvd-0.2.0/.waf*
vendor/redsvd-0.2.0/bin
vendor/redsvd-0.2.0/include
vendor/redsvd-0.2.0/lib
vendor/redsvd-0.2.0/redsvd_build
